aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
appnope
asttokens
async-timeout
attrs
Authlib
autocommand
azure-ai-documentintelligence
azure-ai-formrecognizer
azure-ai-inference
azure-ai-projects
azure-common
azure-core
azure-data-tables
azure-functions
azure-search-documents
azure-storage-blob
backports.tarfile
bcrypt
blinker
cachetools
certifi
cffi
charset-normalizer
click
comm
contourpy
cryptography
cycler
dataclasses-json
debugpy
decorator
Deprecated
distro
docker
exceptiongroup
executing
Flask
Flask-Bcrypt
flask-cors
Flask-Login
fonttools
frozenlist
gitdb
GitPython
gunicorn
h11
httpcore
httpx
httpx-sse
idna
importlib_metadata
importlib_resources
ipykernel
ipython
isodate
itsdangerous
jaraco.collections
jaraco.context
jaraco.functools
jaraco.text
jedi
Jinja2
jiter
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
more-itertools
msal
msrest
multidict
mypy_extensions
narwhals
nest-asyncio
numpy
oauthlib
openai
opentelemetry-api
orjson
ormsgpack
packaging
pandas
parso
pexpect
pillow
pip-chill
platformdirs
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pycparser
pydantic
pydantic_core
pydantic-settings
pydeck
Pygments
PyJWT
PyMuPDF
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
six
smmap
sniffio
SQLAlchemy
stack-data
streamlit
tenacity
tiktoken
toml
tomli
tornado
tqdm
traitlets
typing_extensions
typing-inspect
typing-inspection
tzdata
urllib3
wcwidth
Werkzeug
wrapt
xxhash
yarl
zipp
zstandard